<h2>User info</h2>

  <%= attachment_image_tag userinfo, :profile_image, fallback: "no_image.jpg", size:"60x60" %>

  <table class="table">
    <tbody>
      <tr>
        <th>Name</th>
        <th><%= userinfo.name %></th>
      </tr>
      <tr>
        <th>Introductuon</th>
        <th><%= userinfo.introduction %></th>
      </tr>
      <tr>
        <th>Follows</th>
        <th><%= link_to follow_user_path(userinfo) do %>
              <%= userinfo.follower.count %>
            <% end %></th>
      </tr>
      <tr>
        <th>Followers</th>
        <th><%= link_to follower_user_path(userinfo) do %>
              <%= userinfo.followed.count %>
            <% end %></th>
      </tr>
    </tbody>
  </table>


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if userinfo != current_user %>
      <% if Relationship.exists?(follower_id: current_user.id, followed_id: userinfo.id) %>
        <%= link_to user_relationship_path(userinfo,userinfo.follower), method: :delete, class:"btn btn-block btn-danger" do %>
          解除<% end %>
      <% else %>
        <%= link_to user_relationships_path(userinfo), method: :post, class:"btn btn-block btn-primary" do %>
          フォロー<% end %>
      <% end %>
    <% else %>
      <%= link_to edit_user_path(userinfo.id), class:"btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i><% end %>
    <% end %>
  </div>
</div>