<div class="container px-5 px-sm-0">

  <%= render'layouts/errors', obj: @booknew %>

  <div class="row">
    <div class="col-md-3">

    <%= render 'users/info', userinfo: @userinfo %>

    <%= render 'books/new', booknew: @booknew %>

    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>

      <div class="sort_books my-3">
        <%= link_to "新しい順", books_path(sort_update: "true") %> | <%= link_to "評価の高い順",books_path(sort_rate: "true") %>
      </div>

        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th>Category</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
            <% @user = book.user %>
            <tr>
              <td><%= link_to user_path(@user.id) do %>
                  <%= attachment_image_tag @user,:profile_image, fallback: "no_image.jpg", size:"40x40" %>
                  <% end %>
              </td>
              <td><%= link_to book.title, book_path(book.id) %></td>
              <td><%= book.body %></td>
              
              <% if book.category.present? %>
              <td><%= link_to book.category, books_path(category_search: book.category) %></td>
                  <% else %><td></td>
              <% end %>
              
              <td id="favorite_btn_<%= book.id %>"> <%= render 'favorites/favorites', book: book %> </td>
              <td>コメント数: <%= book.book_comments.count %></td>
              <td id="star_<%= book.id %>"></td>
            </tr>

          <script>
            $("#star_<%= book.id %>").raty({
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn: '<%= asset_path('star-on.png') %>',
              readOnly: true,
              score: <%= book.rate %>
            });
          </script>

            <% end %>
          </tbody>
        </table>

    </div>

  </div>
</div>