user info
<%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size:"60x60" %>
name<%= @user.name %>
introductuon<%= @user.introduction %>
<%= link_to 'EDIT', edit_user_path(@user.id) %>


new book
<%= form_with model:@book, local:true do |f| %>
  <label for="title">Title</label>
  <%= f.text_field :title, autofocus: true %>
  <label for="Opinion">Opinion</label>
  <%= f.text_field :body, autofocus: true %>

  <%= f.submit "Create Book" %>
<% end %>


Book detail

<div>
  <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size:"60x60" %>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
</div>

  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
  <% end %>

  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>