<div class="container px-5 px-sm-0">
  <div class="row mt-3">

    <div class="col-md-3">

    <%= render 'users/info', userinfo: @userinfo %>

    <%= render 'books/new', booknew: @booknew %>

    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

      <%= render 'layouts/errors', obj: @book_comment %>

        <table class="table">
          <tbody>
            <tr>
              <td><%= link_to user_path(@user.id) do %>
                  <%= attachment_image_tag @user,:profile_image, fallback: "no_image.jpg", size:"40x40" %>
                  <% end %>
                    <br><%= link_to @user.name,user_path(@user.id) %></td>
              <td><%= link_to @book.title,book_path(@book.id) %></td>
              <td><%= @book.body %></td>
              
              <% if @book.category.present? %>
              <td><%= link_to @book.category, books_path(category_search: @book.category) %></td>
                  <% else %><td></td>
              <% end %>

              <td id="favorite_btn_<%= @book.id %>"> <%= render'favorites/favorites', book: @book %> </td>

              <td id="comments_count">コメント数: <%= @book.book_comments.count %></td>
              <td id="star_<%= @book.id %>"></td>

              <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book.id), method: :delete, class:"btn btn-sm btn-danger" %></td>
              <% end %>

            </tr>
          </tbody>
        </table>

        <div id="index_comment"><%= render'book_comments/index_comment', comments: @book.book_comments %></div>

        <div class="row">
          <div class="post_comment">
            <%= form_with(model:[@book,@book_comment]) do |f| %>
              <%= f.text_area :comment, rows:4 %>
              <%= f.submit"送信" %>
            <% end %>
          </div>
        </div>

    </div>

  </div>
</div>


<script>
  $("#star_<%= @book.id %>").raty({
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    readOnly: true,
    score: <%= @book.rate %>
  });
</script>